.divGames {
    background-image: url('https://i.makeagif.com/media/10-23-2021/jxPKrW.gif');
    background-size: 100%;
    position: absolute;
    /* height: 100%; */
    width: 100%;
}

.allForm{
	width:250px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}

form label{
	width:72px;
	font-weight:bold;
	/* display:inline-block; */
}

form input {
    width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

.formButton{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
	cursor: pointer;
} 

.homeButton {
	/* width:100%; */
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	/* display:block; */
	color:#fff;
	background-color:#000;
	cursor: pointer;
}



/* .contentSelect{
	max-width: 250px;
	position: relative;
} */
 
.contentSelect select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    font-size: 20px;
    /* max-width: 150px; */
    min-width: 150px;
    text-align: center;
}

.floatRight {
	float: right;
	color: white;
}

.floatLeft {
	float: left;
	color: white;
}